*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body{
    background-color: antiquewhite;
}
section{
    background-color: aliceblue;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid black;
    padding: 20px;
}

button{
    padding: 10px;
    font-weight: bold;
    background-color: rgb(176, 207, 255);
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

button:hover{
    background-color:rgb(160, 186, 226) ;
}