*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

#tareas{
    background-color: antiquewhite;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
}

#tareas h1, h2{
    margin: 20px;
    color: burlywood;
    -webkit-text-stroke: 1px black;
}

.removerTarea{
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    padding: 1px;
    border-radius: 50px;
    border: none;
    color: red;
    font-size: 20px;
}

#padre{
    background-color: aquamarine;
}